{% assign giscus = site.giscus %}
<div id="giscus-thread" style="max-width: {{ site.max_width }}; margin: 0 auto;">
  <script src="https://giscus.app/client.js"
          data-repo={{ giscus.repo }}
          data-repo-id={{ giscus.repo-id }}
          data-category={{ giscus.category  }}
          data-category-id={{ giscus.category-id }}
          data-mapping={{ giscus.mapping }}
          data-strict="0"
          data-reactions-enabled={{ giscus.reaction-enabled }}
          data-emit-metadata="0"
          data-input-position="top"
          data-theme={{ giscus.theme }}
          data-lang="en"
          crossorigin={{ giscus.crossorigin }}
          async>
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://giscus.app/" rel="nofollow">comments powered by giscus.</a></noscript>
</div>
