/**
 * Syntax highlighting styles
 */
.highlight {
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #0D1117;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  ::selection {
    background: #4184e466;
  }
}

.highlight.closed {
  display: none;
}

.highlight-tools {
  position: relative;
  display: flex;
  box-align: center;
  align-items: center;
  min-height: 24px;
  height: 2.15em;
  background: #161d27;
  color: #86888b;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.highlight-tools.closed {
  border-radius: 7px;
}

.highlight-tools .code-lang {
  position: absolute;
  left: 75px;
  text-transform: uppercase;
  font-weight: 700;
  @include relative-font-size(0.9375);
  user-select: none;
}

.highlight-tools .expand {
  right: 0;
  position: absolute;
  padding: .57em .7em;
  cursor: pointer;
  -webkit-transition: .5s;
     -moz-transition: .5s;
       -o-transition: .5s;
      -ms-transition: .5s;
          transition: .5s;
}

.highlight-tools.closed .expand {
  -webkit-transform: rotate(-90deg)!important;
     -moz-transform: rotate(-90deg)!important;
       -o-transform: rotate(-90deg)!important;
      -ms-transform: rotate(-90deg)!important;
          transform: rotate(-90deg)!important
}

.highlight-tools .expand:hover {
  color: #C2C5C3;
}

.highlight-tools .copy-button {
  position: absolute;
  right: 36px;
  cursor: pointer;
  -webkit-transition: color .5s;
     -moz-transition: color .5s;
       -o-transition: color .5s;
      -ms-transition: color .5s;
          transition: color .5s;
}

.highlight-tools .copy-button:hover {
  color: #C2C5C3;
}

.highlight-tools .copy-button:active {
  color: #F2F3F3;
  -webkit-transition:color 0s;
     -moz-transition:color 0s;
      -ms-transition:color 0s;
       -o-transition:color 0s;
          transition:color 0s;
}

.highlight-tools:after {
  position: absolute;
  left: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fc625d;
  -webkit-box-shadow: 20px 0 #fdbc40,40px 0 #35cd4b;
     -moz-box-shadow: 20px 0 #fdbc40,40px 0 #35cd4b;
          box-shadow: 20px 0 #fdbc40,40px 0 #35cd4b;
  content: ' ';
}

code.highlighter-rouge {
  background-color: #eeed;
  border-radius: 3px;
}
